:root {

    
    --border-radius: 14px;
    --border-radius-small: 7px;
    --border-radius-large: 45px;

    --container-width: 1240px;
    --container-padding-x: 20px;

    --input-height: 59px;
    --button-height: 68px;

    --transition-duration: 0.2s;
}