@import "./normalize.css";
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --input-height: 59px;
  --button-height: 68px;
  --transition-duration: 0.2s;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/Poppins-Black.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.userpage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.userpage__main {
  padding-bottom: 20px;
}

.auth {
  height: 100vh;
}
.auth-container {
  height: 100%;
}
.auth-container__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__form-wrapper {
  background-color: white;
  padding: 10px;
  border-radius: 0.5rem;
}
.auth__form-login {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.auth__form-title {
  margin: 0;
}

.navbar {
  background-color: white;
  width: 100vw;
  height: auto;
  min-height: 4em;
  position: sticky;
  border-bottom: 1px solid black;
  transition: margin-bottom 0.3s ease-in;
}
.navbar--expanded {
  margin-bottom: 50px;
}
.navbar-container {
  height: 100%;
}
.navbar-container__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar-container-logoimage {
  width: 100px;
  height: 80px;
  object-fit: scale-down;
}
.navbar-container-description {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 20px;
}
.navbar-container__main-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar-container__sub-nav {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in;
}
.navbar-container__sub-nav--visible {
  width: 100%;
  height: 50px;
}
.navbar-container__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.userprofile {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.userprofile-container {
  width: 100%;
}
.userprofile-container-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  gap: 30px;
}
.userprofile-info__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .userprofile-info__wrapper {
    flex-direction: column;
  }
}
.userprofile-info__left {
  width: 50%;
}
.userprofile-info__userphoto {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
}
.userprofile-info__img {
  width: 100%;
  height: 100%;
}
.userprofile-info-username {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 700;
  margin-left: 10px;
}
.userprofile-info__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: clamp(12px, 1.6666666667vw, 24px);
}
.userprofile-info-gender {
  font-size: 0.85rem;
  color: lightgray;
  font-style: italic;
}
.userprofile-highlights {
  width: 100%;
  height: 250px;
}
.userprofile-highlights-title {
  font-style: italic;
  font-size: 1.1rem;
  color: lightgray;
}
.userprofile-highlights__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
  width: 100%;
}
.userprofile-highlights__item {
  height: 100%;
  width: 20%;
  background-color: lightblue;
}

/*# sourceMappingURL=App.css.map */
