.navbar {
  background-color: white;
  width: 100vw;
  height: auto;
  min-height: 4em;
  position: sticky;
  border-bottom: 1px solid black;
  transition: margin-bottom 0.3s ease-in;
  z-index: 3;

  &--expanded {
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 0;
    }
  }

  &-container {
    height: 100%;

    &__wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &-logoimage {
      width: 100px;
      height: 80px;
      object-fit: scale-down;
    }

    &-description {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;

      @include fluid-text(20, 16);

      @media (max-width: 500px) {
        display: none;
      }
    }

    &__main-nav {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    &__sub-nav {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in;

      &--visible {
        width: 100%;
        height: 50px;

        @include mobile {
          display: none;
          height: 0;
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    &__burgerbutton {
      @include hover;
    }
  }
}
